@using GayChat.Extensions
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

@{
    var width = "400px";
    var inputclass = "input-field col s10 offset-s1";
    var marginForValidation = "80px";

    if (Context.Request.IsMobile())
    {
        width = "100%";

    }
}

<form asp-action="Register" asp-controller="Account" method="post" enctype="multipart/form-data" asp-route-returnurl="@ViewData["ReturnUrl"]">
    <div style="width: @width; box-shadow: 0px 3px 10px rgba(0,0,0,0.5); margin: auto; margin-top: 30px;">

        <p style="color: white; font-size: 27px; background-color: #40c4ff; text-align: center; padding-top: 4px; margin-bottom: 3px; padding-bottom: 4px; text-shadow: 0px 0px 1px rgba(0,0,0,0.2)">Registration</p>

        <div class="row" style="margin-bottom: 3px">
            <div class="@inputclass">
                <i class="material-icons prefix" style="margin-top: 9px">mail_outline</i>
                <input type="email" asp-for="Email" class="validate" style="margin-left: 38px; margin-bottom: 0px">
                <label style="margin-left: 38px">Email</label>
            </div>
        </div>
        <div style="margin-left: @marginForValidation">
            <span asp-validation-for="Email"></span>
        </div>

        <div class="row" style="margin-bottom: 3px">
            <div class="@inputclass">
                <i class="material-icons prefix" style="margin-top: 9px">account_circle</i>
                <input id="UserName" asp-for="Username" type="text" class="validate" style="margin-left: 38px; margin-bottom: 0px">
                <label for="UserName" style="margin-left: 38px">Username</label>
            </div>
        </div>
        <div style="margin-left: @marginForValidation">
            <span asp-validation-for="Username"></span>
        </div>

        <div class="row" style="width: 81%; margin: auto">
            <div class="input-field col s6">
                <input id="last_name" asp-for="FirstName" type="text" class="validate" style="margin-bottom: 3px">
                <label for="last_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" asp-for="Surname" type="text" class="validate" style="margin-bottom: 3px">
                <label for="last_name">Last Name</label>
            </div>
        </div>

        <div class="row" style="margin-bottom: 3px">
            <div class="@inputclass">
                <i class="material-icons prefix" style="margin-top: 9px">lock</i>
                <input id="password" asp-for="Password" type="password" class="validate" style="margin-left: 38px; margin-bottom: 0px" required>
                <label for="password" style="margin-left: 38px">Password</label>
            </div>
        </div>
        <div style="margin-left: @marginForValidation">
            <span asp-validation-for="Password"></span>
        </div>

        <div class="row" style="margin-bottom: 3px">
            <div class="@inputclass">
                <i class="material-icons prefix" style="margin-top: 9px">lock_outline</i>
                <input id="confrimpassword" asp-for="ConfirmPassword" type="password" class="validate" style="margin-left: 38px; margin-bottom: 0px" required>
                <label for="confrimpassword" style="margin-left: 38px">Confirm password</label>
            </div>
        </div>
        <div style="margin-left: @marginForValidation">
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <div style="text-align: center; background: #40c4ff; padding-top: 7px; padding-bottom: 7px; margin-top: 30px ">
            <button class="btn waves-effect" style="background-color: white; color: #00b0ff; text-shadow: 0px 0px 1px rgba(0,0,0,0.3)">Sign up</button>
        </div>

    </div>
</form>


@*<h2>@ViewData["Title"].</h2>

    <form asp-controller="Account" asp-action="Register" enctype="multipart/form-data" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <h4>Create a new account.</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" required type="email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file" asp-for="Image">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Username" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Username" id="UserName" class="form-control" required/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" required/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Surname" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Surname" class="form-control" required/>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Password" class="form-control" required/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ConfirmPassword" class="form-control" required/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </div>
    </form>*@

<script>
    $(document).ready(function () {

        $("input#UserName").on({
            keydown: function (e) {
                if (e.which === 32)
                    return false;
            },
            change: function () {
                this.value = this.value.replace(/\s/g, "");
            }
        });

    });
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
