@using GayChat.Extensions
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

@{
    var width = "400px";
    var inputclass = "input-field col s10 offset-s1";
    var marginForValidation = "80px";
    var marginTop = "8%";

    if (Context.Request.IsMobile())
    {
        width = "100%";
        marginTop = "120px;";
    }

}



<form asp-action="Register" asp-controller="Account" method="post" enctype="multipart/form-data" asp-route-returnurl="@ViewData["ReturnUrl"]">
    <div style="width: @width; box-shadow: 0px 1px 7px #a1887f  ; margin: auto; margin-top: @marginTop; background-color: #fafafa    ">

        <div class="row" style="margin-bottom: 3px">
            <div class="@inputclass">
                <i class="material-icons prefix" style="margin-top: 9px">mail_outline</i>
                <input type="email" asp-for="Email" class="validate" style="margin-left: 38px; margin-bottom: 0px">
                <label style="margin-left: 38px">Email</label>
            </div>
        </div>
        <div style="margin-left: @marginForValidation">
            <span asp-validation-for="Email"></span>
        </div>

        <div class="row" style="margin-bottom: 3px">
            <div class="@inputclass">
                <i class="material-icons prefix" style="margin-top: 9px">account_circle</i>
                <input id="UserName" asp-for="Username" type="text" class="validate" style="margin-left: 38px; margin-bottom: 0px">
                <label for="UserName" style="margin-left: 38px">Username</label>
            </div>
        </div>
        <div style="margin-left: @marginForValidation">
            <span asp-validation-for="Username"></span>
        </div>

        <div class="row" style="width: 81%; margin: auto">
            <div class="input-field col s6">
                <input id="last_name" asp-for="FirstName" type="text" class="validate" style="margin-bottom: 3px">
                <label for="last_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" asp-for="Surname" type="text" class="validate" style="margin-bottom: 3px">
                <label for="last_name">Last Name</label>
            </div>
        </div>

        <div class="row" style="margin-bottom: 3px">
            <div class="@inputclass">
                <i class="material-icons prefix" style="margin-top: 9px">lock</i>
                <input id="password" asp-for="Password" type="password" class="validate" style="margin-left: 38px; margin-bottom: 0px" required>
                <label for="password" style="margin-left: 38px">Password</label>
            </div>
        </div>
        <div style="margin-left: @marginForValidation">
            <span asp-validation-for="Password"></span>
        </div>

        <div class="row" style="margin-bottom: 3px">
            <div class="@inputclass">
                <i class="material-icons prefix" style="margin-top: 9px">lock_outline</i>
                <input id="confrimpassword" asp-for="ConfirmPassword" type="password" class="validate" style="margin-left: 38px; margin-bottom: 0px" required>
                <label for="confrimpassword" style="margin-left: 38px">Confirm password</label>
            </div>
        </div>
        <div style="margin-left: @marginForValidation">
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <div style="text-align: center; background: #795548; opacity: 0.9; padding-top: 7px; padding-bottom: 7px; margin-top: 30px ">
            <button class="btn waves-effect" style="background-color: #fafafa  ; color: #795548 ; text-shadow: 0px 0px 1px rgba(0,0,0,0.3)">Sign up</button>
        </div>

    </div>
</form>


<script>
    $(document).ready(function () {

        $("#siteName").text("Register");

        $("input#UserName").on({
            keydown: function (e) {
                if (e.which === 32)
                    return false;
            },
            change: function () {
                this.value = this.value.replace(/\s/g, "");
            }
        });

    });
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
